examples/Axis Device Provisioning.json
[
    {
        "id": "bf2c986ad16b9713",
        "type": "tab",
        "label": "Provisioning Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c18a8b2f65ad7f8",
        "type": "debug",
        "z": "bf2c986ad16b9713",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "71f89d7d9a2b5b12",
        "type": "debug",
        "z": "bf2c986ad16b9713",
        "name": "Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "6aa185ba6908f6c4",
        "type": "sf:6d42dc07fde7a1cc",
        "z": "bf2c986ad16b9713",
        "name": "",
        "x": 800,
        "y": 360,
        "wires": [
            [
                "2c18a8b2f65ad7f8"
            ],
            [
                "71f89d7d9a2b5b12"
            ],
            [
                "4eb97279f932e5f7"
            ]
        ]
    },
    {
        "id": "4eb97279f932e5f7",
        "type": "debug",
        "z": "bf2c986ad16b9713",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "0f03d8940ee91bed",
        "type": "comment",
        "z": "bf2c986ad16b9713",
        "name": "Documentation",
        "info": "https://flows.nodered.org/node/node-red-subflow-axis-provisioning\n\n",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "91973aa4efa07a3d",
        "type": "template",
        "z": "bf2c986ad16b9713",
        "name": "Adjust device configuration here",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"accounts\": [\n        { \"name\": \"\", \"password\": \"\", \"privileges\": \"Admin\" },\n        { \"name\": \"\", \"password\": \"\", \"privileges\": \"Operator\" },\n        { \"name\": \"\", \"password\": \"\", \"privileges\": \"Viewer\" }\n    ],\n    \"time\": {\n        \"timezone\": \"Europe/Stockholm\",\n        \"ntp\": [\"\"]\n    },\n    \"zipstream\": {\n        \"strength\": 20,\n        \"minfps\": 15\n    },\n    \"tls\": {\n        \"policy\": \"HttpAndHttps\"\n    },\n    \"textOverlays\": [\n        {\n            \"text\": \"%F %X\",\n            \"position\": \"topLeft\",\n            \"textColor\": \"white\",\n            \"textBGColor\": \"black\",\n            \"fontSize\": 48\n        },\n        {\n            \"text\": \"\",\n            \"position\": \"topRight\",\n            \"textColor\": \"white\",\n            \"textBGColor\":\"transparent\",\n            \"fontSize\": 48\n        }\n    ], \n    \"imageOverlay\": {\n        \"filepath\": \"\",\n        \"position\":\"bottomRight\",\n        \"scale\": true,\n        \"alpha\": 0\n    },\n    \"onvif\": [\n        { \"name\": \"\", \"password\": \"\", \"privileges\": \"Administrator\" },\n        { \"name\": \"\", \"password\": \"\", \"privileges\": \"Administrator\" },\n        { \"name\": \"\", \"password\": \"\", \"privileges\": \"Administrator\" }\n    ],\n    \"ssh\": false,\n    \"mqtt\": {\n        \"address\":\"\",\n        \"port\": \"1883\",\n        \"user\": \"\",\n        \"password\":\"\"\n    },\n    \"publish\": [],\n    \"acaps\": [\n    ],\n    \"vapix\": [\n    ]\n}\n",
        "output": "json",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "2200cf3af18a235c"
            ]
        ]
    },
    {
        "id": "b2180615268d59a2",
        "type": "inject",
        "z": "bf2c986ad16b9713",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "91973aa4efa07a3d"
            ]
        ]
    },
    {
        "id": "2200cf3af18a235c",
        "type": "change",
        "z": "bf2c986ad16b9713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "67739caef758e58c",
                "872e89f21bf06dc6"
            ]
        ]
    },
    {
        "id": "67739caef758e58c",
        "type": "debug",
        "z": "bf2c986ad16b9713",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "872e89f21bf06dc6",
        "type": "template",
        "z": "bf2c986ad16b9713",
        "name": "Adjust Device Inventory here",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n    {\n        \"address\": \"10.13.8.167\",\n        \"properties\": {\n            \"name\": \"democam\"\n        }\n    }        \n]",
        "output": "json",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "0232869716000a60"
            ]
        ]
    },
    {
        "id": "0232869716000a60",
        "type": "change",
        "z": "bf2c986ad16b9713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inventory",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 220,
        "wires": [
            [
                "de18ed674ba46470"
            ]
        ]
    },
    {
        "id": "de18ed674ba46470",
        "type": "debug",
        "z": "bf2c986ad16b9713",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "3bc1d43ea9e157c5",
        "type": "inject",
        "z": "bf2c986ad16b9713",
        "name": "Provision",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "edb100101c98798e"
            ]
        ]
    },
    {
        "id": "edb100101c98798e",
        "type": "change",
        "z": "bf2c986ad16b9713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "config",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "inventory",
                "pt": "msg",
                "to": "inventory",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "6aa185ba6908f6c4"
            ]
        ]
    }
]